<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Grocify</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/icons.png" />
        <!-- Custom Google font-->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column h-100 bg-light">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
                <div class="container px-5">
                    <a class="navbar-brand" href="index.html"><span class="fw-bolder text-primary"><img src="assets/logo.png" alt="Grocify" width="20%"></span></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                            <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="index.html#about-us">About Us</a></li>
                            <li class="nav-item"><a class="nav-link" href="resume.html">Resume</a></li>
                            <li class="nav-item"><a class="nav-link" href="pricecheck.html">Price Check</a></li>
                            <li class="nav-item"><a class="nav-link" href="prediction.html">Prediction</a></li>
                            <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
                            <li class="nav-item"><a class="nav-link" href="register.html">Sign Up</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Page Content-->
            <div class="container px-5 my-5">
                <div class="text-center mb-5">
                    <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Legal</span></h1>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-20 col-xl-9 col-xxl-8">
                        <!-- Terms of Use Section-->
                        <section>
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h2 class="text-primary fw-bolder mb-0">Terms Of Use</h2>
                                <!-- Download resume button-->
                                <!-- Note: Set the link href target to a PDF file within your project-->
                                <a class="btn btn-primary px-4 py-3" href="/legal/Grocify-TermsOfUse.pdf">
                                    <div class="d-inline-block bi bi-download me-2"></div>
                                        Download Terms of Use
                                </a>
                            </div>
                            <!-- Effective Date -->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col-lg-20"><div>
                                            <h5>Effective Date: 01/01/2025</h5>
                                            <br>
                                            Welcome to Grocify ("we", "our", "us"). By accessing or using our website, app, or any related services (collectively, the "Service"), you agree to comply with and be bound by the following Terms of Use. If you do not agree to these terms, please do not use our Service.
                                        </div></div>
                                    </div>
                                </div>
                            </div>
                            <!-- 1. Acceptance of Terms -->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-primary fw-bolder mb-2">1. Acceptance of Terms</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>
                                            By accessing or using the Service, you acknowledge and agree to these Terms of Use and our Privacy Policy. We may update these terms from time to time, and you are responsible for reviewing them periodically.
                                        </div></div>
                                    </div>
                                </div>
                            </div>
                            <!-- 2. User Eligibility -->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-primary fw-bolder mb-2">2. User Eligibility</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>
                                            You must be at least 13 years of age to use our Service. By using the Service, you represent that you meet this age requirement.
                                        </div></div>
                                    </div>
                                </div>
                            </div>
                            <!-- 3. Account Registration -->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-primary fw-bolder mb-2">3. Account Registration</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>
                                            To access certain features of the Service, you may need to create an account. You agree to provide accurate, current, and complete information during the registration process, and to update your information as necessary.
                                        </div></div>
                                    </div>
                                </div>
                            </div>
                            <!-- 4. User Responsibilities -->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-primary fw-bolder mb-2">4. User Responsibilities</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>
                                            You agree to:
                                            <br>
                                            <br>
                                            <ul>
                                                <li>Use the Service in compliance with all applicable laws and regulations.</li>
                                                <br>
                                                <li>Not engage in any activity that could harm, disrupt, or interfere with the Service or other users' access.</li>
                                                <br>
                                                <li>Not upload, post, or transmit any harmful, abusive, or illegal content.</li>
                                            </ul>
                                        </div></div>
                                    </div>
                                </div>
                            </div>
                            <!-- 5. Prohibited Activities -->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-primary fw-bolder mb-2">5. Prohibited Activities</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>
                                            You may not:
                                            <br>
                                            <br>
                                            <ul>
                                                <li>Violate any applicable law or regulation.</li>
                                                <br>
                                                <li>Engage in fraudulent or deceptive practices.</li>
                                                <br>
                                                <li>Reverse engineer, decompile, or attempt to extract the source code of the Service.</li>
                                            </ul>
                                        </div></div>
                                    </div>
                                </div>
                            </div>
                            <!-- 6. Intellectual Property -->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-primary fw-bolder mb-2">6. Intellectual Property</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>
                                            All content, trademarks, logos, and other intellectual property on the Service are owned by Grocify Ltd. or its licensors. You may not use any of these without express written permission.
                                        </div></div>
                                    </div>
                                </div>
                            </div>
                            <!-- 7. Privacy -->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-primary fw-bolder mb-2">7. Privacy</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>
                                            Your use of the Service is also governed by our Privacy Policy, which can be found at <a href="privacy.html">here</a>.
                                        </div></div>
                                    </div>
                                </div>
                            </div>
                            <!-- 8. Termination -->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-primary fw-bolder mb-2">8. Termination</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>
                                            We may suspend or terminate your access to the Service at our discretion, without notice, if we believe you have violated these Terms of Use.
                                        </div></div>
                                    </div>
                                </div>
                            </div>
                            <!-- 9. Disclaimer of Warranties -->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-primary fw-bolder mb-2">9. Disclaimer of Warranties</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>
                                            The Service is provided "as is" without any warranties or representations, either express or implied. We do not guarantee that the Service will be error-free, secure, or uninterrupted.
                                        </div></div>
                                    </div>
                                </div>
                            </div>
                            <!-- 10. Limitation of Liability -->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-primary fw-bolder mb-2">10. Limitation of Liability</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>
                                            In no event will Grocify Ltd. be liable for any indirect, incidental, special, or consequential damages arising out of or related to your use of the Service.
                                        </div></div>
                                    </div>
                                </div>
                            </div>
                            <!-- 11. Indemnification -->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-primary fw-bolder mb-2">11. Indemnification</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>
                                            You agree to indemnify and hold harmless Grocify Ltd., its affiliates, and employees from any claims, losses, or damages arising from your use of the Service, or violation of these Terms of Use.
                                        </div></div>
                                    </div>
                                </div>
                            </div>
                            <!-- 12. Governing Law -->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-primary fw-bolder mb-2">12. Governing Law</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>
                                            These Terms of Use are governed by the laws of Victoria. Any disputes shall be resolved in the courts located within Victoria.
                                        </div></div>
                                    </div>
                                </div>
                            </div>
                            <!-- 13. Changes to Terms -->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-primary fw-bolder mb-2">13. Changes to Terms</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>
                                            We may revise these Terms of Use at any time. Any changes will be posted on this page with an updated effective date. Your continued use of the Service after such changes constitutes your acceptance of the new Terms of Use.
                                        </div></div>
                                    </div>
                                </div>
                            </div>
                            <!-- 14. Contact Information -->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-primary fw-bolder mb-2">14. Contact Information</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>
                                            If you have any questions about these Terms of Use, please contact us at: 
                                            <br>
                                            Grocify Ltd.
                                            <br>
                                            Email: cs@grocify.com
                                            <br>
                                            Phone: (03) 9244 6100
                                            <br>
                                            or visit our website: www.grocify.com
                                        </div></div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->
        <footer class="bg-white py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0">&copy; <script>document.write(/\d{4}/.exec(Date())[0])</script> Grocify Ltd. All rights reserved</div></div>
                    <div class="col-auto">
                        <a class="small" href="pirvacy.html">Privacy</a>
                        <span class="mx-1">&middot;</span>
                        <a class="small" href="termsofuse.html">Terms</a>
                        <span class="mx-1">&middot;</span>
                        <a class="small" href="contact.html">Contact</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
