<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Terms of Use | Grocify</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="assets/icons.png" />
  <!-- Materialize CSS Framework -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="css/temp2.css">
</head>
<body>

  <!-- Navbar -->
  <nav class="white">
    <div class="nav-wrapper container">
        <a href="index.html" class="brand-logo black-text"><img src="assets/logo.png" alt="Grocify" width="15%"></a>
        <a href="#" data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons black-text"><i class="material-icons">menu</i></i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/" class="black-text">Home</a></li>
            <li><a href="/#about-us" class="black-text">About Us</a></li>
            <li><a href="pricecheck.html" class="black-text">Price Check</a></li>
            <li><a href="recommendation.html" class="black-text">Recommendation</a></li>
            <li><a href="prediction.html" class="black-text">Prediction</a></li>
            <li><a href="contact.html" class="black-text">Contact</a></li>
        </ul>
    </div>
  </nav>

  <!-- Mobile Menu -->
  <ul class="sidenav" id="mobile-menu">
    <li><a href="/ " class="black-text">Home</a></li>
    <li><a href="#about-us" class="black-text">About Us</a></li>
    <li><a href="pricecheck.html" class="black-text">Price Check</a></li>
    <li><a href="recommendation.html" class="black-text">Recommendation</a></li>
    <li><a href="prediction.html" class="black-text">Prediction</a></li>
    <li><a href="contact.html" class="black-text">Contact</a></li>
    <li><a href="register.html" class="black-text">Sign Up</a></li>
  </ul>

  <!-- Main Section -->
    <!-- Terms of Use Section -->
<div class="section legal-section" id="termsofuse">
    <div class="container">
      <h4 class="center">Terms of Use</h4>
        <div class="legal-card">
            <h5>Effective Date: January 1, 2025</h5>
            <br>
            Welcome to Grocify ("we", "our", "us"). By accessing or using our website, app, or any related services (collectively, the "Service"), you agree to comply with and be bound by the following Terms of Use. If you do not agree to these terms, please do not use our Service.
            <br>
            <ul class="collapsible">
                <!-- 1. Acceptance of Terms -->
                <li>
                <div class="collapsible-header">
                    <h6>1. Acceptance of Terms</h6>
                </div>
                <div class="collapsible-body">
                  By accessing or using the Service, you acknowledge and agree to these Terms of Use and our Privacy Policy. We may update these terms from time to time, and you are responsible for reviewing them periodically.
                </div>
                </li>
                <!-- 2. User Eligibility -->
                <li>
                    <div class="collapsible-header">
                        <h6>2. User Eligibility</h6>
                    </div>
                    <div class="collapsible-body">
                      You must be at least 13 years of age to use our Service. By using the Service, you represent that you meet this age requirement.
                    </div>
                </li>
                <!-- 3. Account Registration -->
                <li>
                    <div class="collapsible-header">
                        <h6>3. Account Registration</h6>
                    </div>
                    <div class="collapsible-body">
                      To access certain features of the Service, you may need to create an account. You agree to provide accurate, current, and complete information during the registration process, and to update your information as necessary.
                    </div>
                </li>
                <!-- 4. User Responsibilities -->
                <li>
                    <div class="collapsible-header">
                        <h6>4. User Responsibilities</h6>
                    </div>
                    <div class="collapsible-body">
                        You agree to:
                        <br>
                        <br>
                        <ul>
                            <li>Use the Service in compliance with all applicable laws and regulations.</li>
                            <br>
                            <li>Not engage in any activity that could harm, disrupt, or interfere with the Service or other users' access.</li>
                            <br>
                            <li>Not upload, post, or transmit any harmful, abusive, or illegal content.</li>
                        </ul>
                    </div>
                </li>
                <!-- 5. Prohibited Activities -->
                <li>
                    <div class="collapsible-header">
                        <h6>5. Prohibited Activities</h6>
                    </div>
                    <div class="collapsible-body">
                        You may not:
                        <br>
                        <br>
                        <ul>
                            <li>Violate any applicable law or regulation.</li>
                            <br>
                            <li>Engage in fraudulent or deceptive practices.</li>
                            <br>
                            <li>Reverse engineer, decompile, or attempt to extract the source code of the Service.</li>
                        </ul>
                    </div>
                </li>
                <!-- 6. Intellectual Property -->
                <li>
                    <div class="collapsible-header">
                        <h6>6. Intellectual Property</h6>
                    </div>
                    <div class="collapsible-body">
                      All content, trademarks, logos, and other intellectual property on the Service are owned by Grocify Ltd. or its licensors. You may not use any of these without express written permission.
                    </div>
                </li>
                <!-- 7. Privacy -->
                <li>
                    <div class="collapsible-header">
                        <h6>7. Privacy</h6>
                    </div>
                    <div class="collapsible-body">
                      Your use of the Service is also governed by our Privacy Policy, which can be found at <a href="privacy.html">here</a>.
                    </div>
                </li>
                <!-- 8. Termination -->
                <li>
                    <div class="collapsible-header">
                        <h6>8. Termination</h6>
                    </div>
                    <div class="collapsible-body">
                      We may suspend or terminate your access to the Service at our discretion, without notice, if we believe you have violated these Terms of Use.
                    </div>
                </li>
                <!-- 9. Disclaimer of Warranties -->
                <li>
                    <div class="collapsible-header">
                        <h6>9. Disclaimer of Warranties</h6>
                    </div>
                    <div class="collapsible-body">
                      The Service is provided "as is" without any warranties or representations, either express or implied. We do not guarantee that the Service will be error-free, secure, or uninterrupted.
                    </div>
                </li>
                <!-- 10. Limitation of Liability -->
                <li>
                    <div class="collapsible-header">
                        <h6>11. Third-Party Links</h6>
                    </div>
                    <div class="collapsible-body">
                      You agree to indemnify and hold harmless Grocify Ltd., its affiliates, and employees from any claims, losses, or damages arising from your use of the Service, or violation of these Terms of Use.
                    </div>
                </li>
                <!-- 11. Indemnification -->
                <li>
                  <div class="collapsible-header">
                      <h6>11. Indemnification</h6>
                  </div>
                  <div class="collapsible-body">
                    In no event will Grocify Ltd. be liable for any indirect, incidental, special, or consequential damages arising out of or related to your use of the Service.
                  </div>
                </li>
                <!-- 12. Governing Law -->
                <li>
                  <div class="collapsible-header">
                      <h6>12. Governing Law</h6>
                  </div>
                  <div class="collapsible-body">
                    These Terms of Use are governed by the laws of Victoria. Any disputes shall be resolved in the courts located within Victoria.
                  </div>
                </li>
                <!-- 13. Changes to Terms -->
                <li>
                  <div class="collapsible-header">
                      <h6>13. Changes to Terms</h6>
                  </div>
                  <div class="collapsible-body">
                    We may revise these Terms of Use at any time. Any changes will be posted on this page with an updated effective date. Your continued use of the Service after such changes constitutes your acceptance of the new Terms of Use.
                  </div>
                </li>
                <!-- 14. Contact Us -->
                <li>
                    <div class="collapsible-header">
                        <h6>14. Contact Us</h6>
                    </div>
                    <div class="collapsible-body">
                        If you have any questions or concerns about this Privacy Policy or our data practices, please contact us at:
                        <br>
                        Grocify Ltd.
                        <br>
                        Email: cs@grocify.com
                        <br>
                        Phone: (03) 9244 6100
                        <br>
                        or visit our website: www.grocify.com
                    </div>
                </li>
                <!-- Full version -->
                <li>
                    <div class="collapsible-header">
                        <h6>Full PDF Version</h6>
                    </div>
                    <div class="collapsible-body">
                        Here's the full version of our Terms of Use Policy in PDF format:
                        <br>
                        Feel free to download and review it at your convenience.
                        <br>
                       Grocify. (2025). Grocify Terms of Use. Retrieved from https://www.grocify.com/privacy.pdf
                       <br>
                       <br>
                        <a href="/legal/Grocify-TermsOfUse.pdf" class="btn-large waves-effect waves-light black white-text">Download</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
  </div>
  
  <!-- Footer -->
  <footer class="page-footer black">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h5 class="white-text"></h5>
            <a href="/ ">Home</a>
            <span class="mx-1">&middot;</span>
            <a href="/#about-us">About Us</a>
            <span class="mx-1">&middot;</span>
            <a class="small" href="privacy.html">Privacy</a>
            <span class="mx-1">&middot;</span>
            <a class="small" href="termsofuse.html">Terms</a>
            <span class="mx-1">&middot;</span>
            <a class="small" href="contact.html">Contact</a>
            <p class="grey-text text-lighten-4">© <script>document.write(/\d{4}/.exec(Date())[0])</script> Grocify. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Materialize JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!-- Custom JS -->
  <script src="js/scripts.js"></script>
  
</body>
</html>
