<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Grocify</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/icons.png" />
        <!-- StyleSheets-->
        <link href="/css/app.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,900" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,700" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- JavaScripts-->
        <script src="/js/app.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
        <script src="/js/smoothscroll.min.js"></script>
        
        <script src="//cdn.optimizely.com/js/2407530281.js"></script>
    </head>
    <!-- Hero section-->
    <header>
        <nav>
            <div class="container-wide">
                <div class="row">
                    <div class="col s12 m3">
                        <a href="/" class="logo">
                            <a class="navbar-items" href="index.html"><span class="fw-bolder text-primary"><img src="assets/logo.png" alt="Grocify" width="30%"></span></a>
                        </a>
                    </div>
                    <div class="col s12 m9">
                        <div class="right">
                            <ul class="collapse navbar-collapse">
                                <li>
                                    <a href="/ ">Home</a>
                                </li>
                                <li>
                                    <a href="/#about-us">About Us</a>
                                </li>
                                <li>
                                    <a href="pricecheck.html">Price Check</a>
                                </li>
                                <li>
                                    <a href="recommendation.html">Recommendation</a>
                                </li>
                                <li>
                                    <a href="prediction.html">Prediction</a>
                                </li>
                                <li>
                                    <a href="contact.html">Contact</a>
                                </li>
                                <li>
                                    <a href="register.html" class="btn nav-sign-up">Sign Up</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
     </header>
    <body>
        <div class="hero hero-landing">
            <div class="row valign-wrapper no-valign-wrapper-on-mobile">
                <div class="col l5 valign hero-text">
                    <div class="container-wide">
                        <h1>Save Big, Shop Smart</h1>
                        <h2>
                           <b>Find the Best Deals on Groceries in Seconds!</b>
                        </h2>
                        <h2></h2>
                        <a href="register.html" class="btn btn-large waves-effect waves-light sign-up-btn">Check out Grocify</a>
                    </div>
                </div>
                <div class="col l7 no-right-padding valign hero-img-col">
                    <a href="register.html">
                        <img src="/assets/background_image.png" alt="Sign Up Now" class="hero-img responsive-img" width="90%">
                    </a>
                </div>
            </div>
        </div>
        <div class="testimonials container-wide">
            <div class="row">
                <div class="col l6 testimionals-testimional">
                    <div class="col l3">
                        <img src="/assets/avatar1.png" class="testimionals-avatar">
                    </div>
                    <div class="col l9">
                        <div class="testimionals-content">This app is fantastic! I’m thrilled to have discovered it because now I can save more on my groceries.</div>
                        <div class="testimionals-author">Eason Chan, App User</div>
                    </div>
                </div>
                
                <div class="col l6 testimionals-testimional">
                    <div class="col l3">
                        <img src="/assets/avatar3.png" class="testimionals-avatar">
                    </div>
                    <div class="col l9">
                        <div class="testimionals-content">I’m so happy I found this app! It’s amazing how much I can save on groceries now.</div>
                        <div class="testimionals-author">David Norman, Student</div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Big Deals -->
        <section class="features">
            <div class="container-wide">
                <div class="features-title text-gradient"><b>Big Deal on Groceries</b></div>
                <div class="feature-description">Say hello to the hottest deals on the market</div>
            </div>
        </section>

        <!-- Features -->
    
        <section class="features">
            <div class="features-divider">
                <i class="material-icons">clear_all</i>
            </div>
            <div class="container-wide">
                <div class="features-title text-gradient"><b>Features</b></div>
                <div class="row">
                    <div class="col l4">
                        <div class="feature-icon">
                            <i class="material-icons">search</i>
                        </div>
                        <div class="feature-title">Search</div>
                        <div class="feature-description">Search for your favorite groceries and products in our app.</div>
                    </div>

                    <div class="col l4">
                        <div class="feature-icon">
                            <i class="material-icons">compare_arrows</i>
                        </div>
                        <div class="feature-title">Compare</div>
                        <div class="feature-description">Compare prices across different stores to find the best deals.</div>
                    </div>

                    <div class="col l4">
                        <div class="feature-icon">
                            <i class="material-icons">attach_money</i>
                        </div>
                        <div class="feature-title">Save</div>
                        <div class="feature-description">Save money by shopping for groceries at the lowest prices.</div>
                    </div>

                    <div class="col l4">
                        <div class="feature-icon">
                            <i class="material-icons">dashboard</i>
                        </div>
                        <div class="feature-title">Price Prediction</div>
                        <div class="feature-description">Discover the power of price prediction in grocery shopping! Our app uses advanced algorithms to forecast price trends, helping you plan your purchases and save money. Stay ahead of price changes and make smarter shopping decisions with ease.</div>
                    </div>

                    <div class="col l4">
                        <div class="feature-icon">
                            <i class="material-icons">turned_in</i>
                        </div>
                        <div class="feature-title">Product Recommendation</div>
                        <div class="feature-description">Take advantage of our price recommendation feature! Our app analyzes market trends and suggests the best times to buy your favorite groceries at the lowest prices. Maximize your savings and shop smarter with personalized price recommendations.</div>
                    </div>

                    <div class="col l4">
                        <div class="feature-icon">
                            <i class="material-icons">view_carousel</i>
                        </div>
                        <div class="feature-title">Price Check</div>
                        <div class="feature-description">Stay informed with our price checker! Instantly compare prices across different stores to ensure you’re getting the best deal on your groceries. Save time and money by making informed shopping decisions with our easy-to-use price checker.</div>
                    </div>  
                </div>
            </div>
        </section>
        <! -- About Us -->
        <section class="aboutus last-chance" id="#about-us">
            <div class="container-wide">
                <div class="container-wide">
                    <div class="aboutus-title text-gradient"><b>About Us</b></div>
                    <div class="last-chance-title">
                        <div>At Grocify, we believe that grocery shopping should be affordable and hassle-free.</div>
                    </div>
                    Our mission is to empower you to save money on everyday essentials without compromising quality.
                    <br>        
                    We combine smart technology with real-time data to bring you the best deals from your favorite local stores, helping you find the lowest prices on groceries in just a few clicks. 
                    <br>
                    Whether you’re a budget-conscious shopper or just love snagging a great deal, Grocify is here to simplify your shopping experience and keep more money in your pocket. 
                    <br>
                    Your savings are our priority. With Grocify, every trip to the store becomes an opportunity to spend smarter and live better.
                </div>
            </div>
        </section>
        <!-- Last Chance -->
        <div class="container-wide last-chance">
            <div class="last-chance-title">
                <div>Last Chance to Save Big on Groceries</div>
                <div>Join Now – Start Saving on Groceries Today!</div>
            </div>
            <a href="register.html" class="btn btn-large waves-effect waves-light sign-up-btn">Check out Wizlogo</a>
        </div>
        <!-- Footer -->
        <footer>
            <!-- <div class="container-wide"> -->
                <div class="row">
                    <div class="col m6 l6 s12">
                        <div class="footer-drop-title">© <script>document.write(/\d{4}/.exec(Date())[0])</script> Grocify. All rights reserved.</div>
                    </div>
                    <div class="col m6 l6 s12">
                        <div class="right footer-drop-title">
                            <a href="/ ">Home</a>
                            <span class="mx-1">&middot;</span>
                            <a href="/#about-us">About Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    </body>
</html>
